.board{
    margin-top: 4rem;
    justify-content: center;
    text-align: center;
}

.board h3{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.explanation {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.explanation b{
    color: #0078ED;
    
}
.explanation p{
    justify-content: center;
    text-align: center;
    width: 80%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;

}

