

button{
    background:none;
    color:white;
    border: none;
    font-family:'Roboto', sans-serif;
    font-size:1.3rem;
    font-weight: 500;
    cursor:pointer;
    transition: 1s ease;
    height: 2rem;
    width: 10rem;
    
    
}
button:hover{
    font-weight: 500;
    color: #0078ED;
    font-size: 1.4rem;
    transition: 1s ease;
}

@media only screen and (max-width: 600px) {
    

}
