.slide-item{
    height: 370px;
    width: 80%;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 10px;
    border: #0078ED solid 1px;
    
}

.screen{
    text-align: center;
    margin-top: 6rem;
    z-index: 1;
   

}
.screen-title{
    color: white;
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color:#0078ED;
    
    
}