
.skills{
display: flex;
text-align: center;
width: 100%;
height: 40vh;
flex-direction: column;
margin-top: 5rem;
}



.title{
   font-size: 3rem;
   font-weight: 600;
    }


.container-skills{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .skills {
        display: flex;
        text-align: center;
        width: 100%;
        height: auto; /* Ajustando a altura para se adaptar ao conteúdo */
        flex-direction: column;
        margin-top: 2rem; /* Reduzindo a margem superior */
      }
      
      .title {
        font-size: 2rem; /* Reduzindo o tamanho da fonte */
        font-weight: 600;
      }
      
      .container-skills {
        width: 100%;
        height: auto; /* Ajustando a altura para se adaptar ao conteúdo */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; 
        flex-wrap: wrap;
      }

}
