.header{
    width: 100%;
    height: 5rem;
    border-bottom: solid #00275D 1px;
    background-color: #0078ED;
    box-sizing: border-box;
    box-shadow: 2px 5px 3px 1px rgba(0, 0, 0, 0.6);
    background-attachment: scroll;
    position: fixed;
    top: 0%;
    z-index: 2;
    
    
    
    
    
}

.nav{
    display:flex;
    flex-direction: row;
    position: fixed;

}

.nav-buttons{
    display: flex;
    position: fixed;
    left: 900px;
    top: 25px;
    gap: 50px;
    

    
}

.inicio{
    position: fixed;
    top: 900px;

}

.sobre{
    position: fixed;

}

.contato{
    position: fixed;
}



