

.bot{
    width: 100%;
    height: 20vh;
    background-color:#00275D ;
    display: flex;
    flex-direction: row;
}

.right{
    width: 50%;
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
    
}

.right img{
    width: 20rem;
    height: auto;
}

.infos{
    width: 50%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    font-size: 2rem;
    font-weight: 500;


}

.infos-logos{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.developed-by{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    height: 15%;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.developed-by h3{
    font-size: 2rem;
    font-weight: 500;
    
}

.logotipos{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.infos img{
    width: 2.5rem;
    height: auto;
    
}

@media only screen and (max-width: 600px) {

    .bot {
        width: 100%;
        height: 15rem; /* Ajustando a altura para se adaptar ao conteúdo */
        background-color: #00275D;
        display: flex;
        flex-direction: column; 
        gap: 1rem;/* Alterando para coluna para telas menores */
        justify-content: center;
        align-items: center;
      }
      
      .right,
      .infos {
        width: 100%; /* Ocupando toda a largura disponível em telas menores */
        height: auto; /* Ajustando a altura para se adaptar ao conteúdo */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem; /* Reduzindo o espaçamento entre os elementos */
      }

      
      
      .right img {
        width: 15rem; /* Reduzindo o tamanho da imagem */
        height: auto;
      }
      
      .infos-logos {
        display: flex;
        flex-direction: row; /* Alterando para coluna para telas menores */
        gap: 1rem; /* Reduzindo o espaçamento entre os logos */
      }
      
      .developed-by {
        display: flex;
        flex-direction: column; /* Alterando para coluna para telas menores */
        height: auto; /* Ajustando a altura para se adaptar ao conteúdo */
        width: 100%;
        justify-content: center;
        gap: 1rem; /* Reduzindo o espaçamento entre os elementos */
        text-align: center;
        align-items: center;
      }
      
      .developed-by h3 {
        font-size: 1.5rem; /* Reduzindo o tamanho da fonte */
        font-weight: 500;
      }
      
      .logotipos {
        display: flex;
        flex-direction: column; /* Alterando para coluna para telas menores */
        width: 100%;
      }
      
      .infos img {
        width: 2rem; /* Reduzindo o tamanho das imagens */
        height: auto;
      }

}